section[data-testid='stSidebar'] {
    background-color: #111;
    min-width:unset !important;
    width: unset !important;
    flex-shrink: unset !important;
    
}

button[kind="header"] {
    background-color: transparent;
    color:rgb(180, 167, 141)
}

@media(hover){
    /* header element to be removed */
    header[data-testid="stHeader"] {
        display:none;
    }

    /* The navigation menu specs and size */
    section[data-testid='stSidebar'] > div {
        height: 100%;
        width: 95px;
        position: relative;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s ease;
        padding-top: 60px;
        white-space: nowrap;
    }

    /* The navigation menu open and close on hover and size */
    /* section[data-testid='stSidebar'] > div {
    height: 100%;
    width: 75px; /* Put some width to hover on. */
    /* } 

    /* ON HOVER */
    section[data-testid='stSidebar'] > div:hover{
    width: 300px;
    }

    /* The button on the streamlit navigation menu - hidden */
    button[kind="header"] {
        display: none;
    }
}
     
@media(max-width: 272px){
    
    section[data-testid='stSidebar'] > div {
        width:15rem;
    }
}
 
*{
    font-family: 'Kanit', sans-serif !important;
}


.stTextArea{
    height: auto;
    
}

div[class="css-keje6w e1tzin5v2"]{
    column-gap: 100px;
}

h2{
    color: #5ba56e;
}

h3{
    color:#007a7a;
}

label[class="css-16huue1 effi0qh3"]{
    
    font-size: 16px;
}

p{
    color:#78701d;
    font-size: 16px;
}

textarea{
    color:#007a7a;
}
